In [1]:
a = 100
b = 200
def plus_to_num(a, b):
    return a + b
plus_to_num(a, b)

300

In [6]:
a = 100

In [8]:
b = 200

In [9]:
def plus_to_num(a, b):
    return a + b

In [7]:
plus_to_num(a, b)

300

In [10]:
for char in "hello, world!":
    print(char)

h
e
l
l
o
,

w
o
r
l
d
!

In [12]:
minute = 60
hour = minute * 60
day = hour * 24
year = day * 365
print(year)

31536000

In [13]:
id(minute)

4536473968

In [14]:
min2 = minute

In [15]:
id(min2)

4536473968

In [16]:
minute = 51

In [17]:
id(minute) # 변수에 새 값을 대입하면 변수는 새로 생긴 메모리를 참조한다.

4536473680

In [18]:
id(min2)

4536473968

In [19]:
int("32") # 스트링에서 숫자로 변환된 32는 새로운 객체로, 메모리에 새 공간을 할당받는다.

32

In [21]:
kux = "빛으로 강타해요"

'빛으로'

In [22]:
kux[:3]

'빛으로'

In [23]:
kux[:]

'빛으로 강타해요'

In [24]:
kux[:-3]

'빛으로 강'

In [25]:
kux[::2]

'빛로강해'

In [27]:
list = ["1", "2", "3", "4"]
', '.join(list)

'1, 2, 3, 4'

In [28]:
name = "kde"
format_str = "%s drinks coffee"
format_str%name

'kde drinks coffee'

In [29]:
"now is %d" % 10

'now is 10'

In [30]:
"now is %10d" % 10  # 타입 지정자 뒤에 숫자가 붙으면 숫자만큼 공백 생김.

'now is         10'

In [31]:
"now is %-10d" % 10

'now is 10        '

In [32]:
"now is {:d}".format(10)

'now is 10'

In [33]:
"now is {:f}".format(10.12)

'now is 10.120000'

In [34]:
print(""" 
this 
is 
multi""")

this
is
multi

In [35]:
multi = """
this
is
multi
"""
print(multi)

this
is
 multi

In [37]:
str1 = "heelo,"
str2 = "world!"
str3 = ' '.join([str1, str2])
print(str3)

heelo, world!

In [40]:
str3.upper()

'HEELO, WORLD!'

In [41]:
str3 * 10

'heelo, world!heelo, world!heelo, world!heelo, world!heelo, world!heelo, world!heelo, world!heelo, world!heelo, world!heelo, world!'

In [42]:
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [46]:
last_three = sample_list2[::3]
print(last_three)

['Jan', 'Apr', 'Jul', 'Oct']

In [49]:
last_three = sample_list2[:-3]
print(last_three)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

In [56]:
reverse_two_steps = sample_list2[-1:-4:-1]
print(reverse_two_steps)

['Jan', 'Feb', 'Mar']

str2 = "light power"

In [58]:
print(str2[::-1])

!dlrow

In [59]:
fruits = ['apple', 'banana', 'orange']
color = ['red', 'blue', 'green']

In [60]:
fruits.append(color)
print(fruits)

['apple', 'banana', 'orange', ['red', 'blue', 'green']]

In [61]:
fruits.insert(1, 'mango')
print(fruits)

['apple', 'mango', 'banana', 'orange', ['red', 'blue', 'green']]

In [63]:
fruits.insert(100, 'pineapple')  # 길이보다 큰 인덱스에 엘리먼트 넣으면 자동으로 마지막에 삽입함.
print(fruits)

['apple', 'mango', 'banana', 'orange', ['red', 'blue', 'green'], 'pineapple', 'pineapple']

In [64]:
del fruits[-1]  # 마지막 엘리먼트 삭제
print(fruits)

['apple', 'mango', 'banana', 'orange', ['red', 'blue', 'green'], 'pineapple']

In [65]:
fruits.remove('mango')  # 엘리먼트 삭제
print(fruits)

['apple', 'banana', 'orange', ['red', 'blue', 'green'], 'pineapple']

In [66]:
print('red' in fruits)

False

In [67]:
list1 = ['e', 'b', 'd', 'c', 'a']
list_cp = list1.copy()  
print(list_cp)

['a', 'b', 'c', 'd', 'e']

In [69]:
list1.sort()  # 리스트 메소드 
print(list1)

['a', 'b', 'c', 'd', 'e']

In [70]:
print(sorted(list_cp))  # sorted는 파이썬 내장함수

['a', 'b', 'c', 'd', 'e']

In [72]:
list2 = list1  # shallow copy
list1[0] = 'A'
print(list1)
print(list2)
print(list_cp) # deep copy

['A', 'b', 'c', 'd', 'e']
['A', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']